{
  /* herda todas as rules pra react e jsx */
  "extends": ["standard", "standard-react", "airbnb"],
  /*
    Interessante informar os ambientes
    pra não dar erro em variáveis globais como a window
    do navegador
  */
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "localStorageDB": true,
    "App": true,
    "Greenmile": true,
    "Monet": true
  },
  /*
    Importante usar esse parser
    pra não lançar erro em funcionalidades
    ainda não implementadas na Spec como decorators
    E features de ES7 como propriedades de instancia
    declaradas na classe
   */
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  /* Sobrescrevemos algumas rules do airbnb e do próprio eslint */
  rules: {
    "jsx-a11y/no-static-element-interactions": 1,
    "react/no-string-refs": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "new-cap": ["error", {
      "newIsCapExceptions": ["localStorageDB", 'auth'],
      "capIsNewExceptions": ["Map"]
    }],
    arrow-body-style: ["error", "as-needed"],
    "no-underscore-dangle": ["error", { "allow": ["_d"] }]
  }
}
